.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  &::-webkit-scrollbar {
    height: 8px;
    border-radius: 2px;
  }
  &::-webkit-scrollbar-track {
    background: #f2f5fd;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg, rgba(19, 170, 245, 0.23) 0%, rgba(29, 206, 255, 0.23) 100%);
    border-radius: 2px;
  }
}

.cards {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
