@import 'src/styles/styles';

.wrapper {
  color: black;

  border: 1px solid gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 180px;
  &_title {
    margin-bottom: 10px;
  }
  &_img {
    width: 80px;
    height: 80px;
  }

  @include desktop {
    color: black;

    border: 1px solid gray;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 320px;
    min-width: 300px;
    &_title {
      margin-bottom: 10px;
    }
    &_img {
      width: 200px;
      height: 200px;
    }
    &_addr1 {
    }
    &_button {
      padding: 10px;
      border-radius: 10px;

      color: black;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
