.wrapper {
  border: 1px solid gray;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  &_title {
  }
  &_img {
    width: 200px;
    height: 200px;
  }
  &_addr1 {
  }
}
