@use 'src/styles/libs' as *;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.kakaomap_wrapper {
  flex: 1;
}

.placelist_wrapper {
  @include desktop {
    width: 100vw;
    height: 380px;
  }
}
