@use 'src/styles/libs' as *;

.search_options {
  position: absolute;
  top: 75px;
  left: 10px;
  z-index: 99;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;

  & > div > button {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0;

    &:hover {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }

  @include desktop {
    top: 50px;
  }
}
.dropdown_wrapper {
  background-color: rgba(255, 255, 255, 0.6);
}
.dropdown {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
