@use 'src/styles/libs' as *;

.card_wrapper {
  box-shadow: 10px 5px 5px $BLUISH-GRAY-100;
  border-radius: 10px;
  color: $BLUISH-GRAY-700;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 180px;
  .card_title {
    margin-bottom: 10px;
  }
  .card_img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.05);
    }
  }
  a {
    margin-top: 5px;
    color: $BLUISH-GRAY-700;
    text-decoration: underline;

    &:hover {
      text-decoration: underline;
    }
  }
  &:hover {
    cursor: grab;
  }
  &:active {
    cursor: grabbing;
  }

  @include desktop {
    min-height: 300px;
    min-width: 250px;
    .card_title {
      margin-bottom: 10px;
    }
    .card_img {
      width: 200px;
      height: 200px;
    }
  }
}
