@use 'src/styles/libs' as *;

@-webkit-keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}

@keyframes skeleton-gradient {
  0% {
    background-color: rgba(165, 165, 165, 0.1);
  }

  50% {
    background-color: rgba(165, 165, 165, 0.3);
  }

  100% {
    background-color: rgba(165, 165, 165, 0.1);
  }
}
.card_wrapper {
  box-shadow: 10px 5px 5px $BLUISH-GRAY-100;
  border-radius: 10px;

  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 180px;

  @include desktop {
    min-height: 300px;
    min-width: 250px;
  }
}
.card_loading {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  &_title {
    border-radius: 5px;
    width: 100px;
    height: 20px;
    -webkit-animation: skeleton-gradient 1.8s infinite ease-in-out;
    animation: skeleton-gradient 1.8s infinite ease-in-out;
  }
  &_img {
    border-radius: 5px;
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
    -webkit-animation: skeleton-gradient 1.8s infinite ease-in-out;
    animation: skeleton-gradient 1.8s infinite ease-in-out;
  }
  @include desktop {
    &_title {
      width: 200px;
      height: 20px;
    }
    &_img {
      width: 200px;
      height: 200px;
    }
  }
}
