@import 'src/styles/styles';

.header {
  & .button {
    width: fit-content;
    height: 30px;
    background-color: transparent;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border: none;
  }
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;

  background: white;
  z-index: 999;

  #logo {
    position: absolute;
    left: 10px;
    top: 10px;
  }
  .info {
    font-weight: bold;
  }
}
@include desktop {
  .header {
    & .button {
      height: 50px;
    }
    .info {
      margin-left: 20px;
    }
    flex-direction: row;
    &_button_wrapper {
      position: absolute;
      right: 10px;
      top: 10px;
      display: flex;
      gap: 20px;
    }
  }
}
